ul{
	margin: 5px;
}
li{
	list-style-type:none;
}
img{
	page-break-inside: avoid;
	margin-left:auto; 
	margin-right:auto;
}

#home-page-body{
	
	background: url(../images/img_bg_2.jpg) no-repeat;
	background-size:100% 100%;
	height: 650px;
	width: 100%;
}
#page-body{
	max-width: 1000px;
	margin-left:auto; 
	margin-right:auto;
}

#page-body .userinfo{
	padding: 10px;
	margin: 20px;
}

#page-header nav li{
	margin-right: 15px;
}

.activity{
	background: #36BD9C;
}

.activity-list{
	margin: 5px;
	padding: 5px;
}
.activity-list li{
	margin-top: 15px;
}

.animate{
  padding: 0;
  margin: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.creatorInfo{
	margin: 10px 20px;
}
.member{
	margin: 10px;
	padding: 2px;
}
.follow-list li{
	margin-top: 15px;
}
.match-nav-list dropdown{
   display: inline-block;
   margin-top: 20px; 
   margin-left: 0;
   margin-right: 0;
}
.match-nav-list label, .match-nav-list dropdown ul li{
  display: block;
  width: 200px;
  background: #ECF0F1;
  padding: 15px 20px;
  margin-left: 50px;
  margin-right: auto;
}
.match-nav-list label:hover, .match-nav-list dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
.match-nav-list label{
  color: #1ABC9C;
  border-left: 4px solid #1ABC9C;
  border-radius: 0 5px 0 0; 
  position: relative;
  z-index: 2;
}
.match-nav-list dropdown input{
  display: none;
}
.match-nav-list dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
.match-nav-list dropdown input:checked + label{
  background: #1ABC9C;
  color: white;
}

.match-nav-list dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
.float-right{
  float: right;
}

.friend{
	padding-left: 0;
	padding-right: 20px;
}
.friend-img{
	height: 40px;
	width: 50px;
	padding-left: 5px;
	padding-right: 5px;
}
.friend-img img{
	height: 100%;
	max-width: 100% !important;
}
.friend-list{
	padding-left: 10px;
	padding-right: 5px;
}
.friend-list li{
	margin-top: 15px;
}
.friend-name,.friend-rank{
	height: 100%;
	margin-bottom: auto;
	margin-top: auto;
	padding-top:10px;
}
.friend .option{
	height: 100%;
	margin-bottom: auto;
	margin-top: auto;
	padding-top:10px;
}
.homepage{
	padding-top: 200px;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}
.homepage h1{
	
	color: #ffffff;
}
.homepage label{
	height: 40px;
	width: 100;
	border-radius: 8px;
	background-color: #F85A16;
}
.infoEdit .row{
	margin: 20px auto;
}
.info-page-body{
	max-width: 900px;
	margin: 50px auto;
}
.match-nav-list{
	margin-top: 30px;
}
.tc{
	text-align: center;
}
.user-header{
	width: 240px;
	padding-top: 20px;
	margin-left:auto; 
	margin-right:auto;
}
.user-header .user-header-img{
	width: 100%;
	
}
.user-header .user-header-img img{
	page-break-inside: avoid;
	max-width: 100% !important;
	margin-left:auto; 
	margin-right:auto;
	border-radius: 6px;
	min-height: 100px;
	max-height: 160px;
}

.weak_sport{
	padding-left: 30px;
}

$colors: #E74C3C, #0072B5, #2C3E50;

@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}