ul{
	margin: 5px;
}
li{
	list-style-type:none;
}
li a{
	color: #333;
}
li a p{
	margin:auto;
	padding-top: 6px;
}
li span{
	margin: 5px 10px 5px 5px;
}
img{
	page-break-inside: avoid;
	margin-left:auto; 
	margin-right:auto;
}
#friendid,#userid,#creatorid,#memberid{
	display: none;
}
#home-page-body{
	
	background: url(../images/img_bg_2.jpg) no-repeat;
	background-size:100% 100%;
	height: 650px;
	width: 100%;
}
#page-body{
	max-width: 1000px;
	margin-left:auto; 
	margin-right:auto;
}

#page-body .userinfo{
	padding: 10px;
	margin: 20px;
}
#page-header{
	height: 50px;
	background: #F85A16;
}
#page-header nav .navbar-nav>li{
	padding-top: 20px;
	height: 50px;
	margin-right: 15px;
}
#page-header nav .navbar-nav>li>a{
	padding-top: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
}

#page-header nav li a{
	height: 100%;
	font-weight: 800;
}
.activity{
	height: 54px;
	margin: 2px;
	
	background: #AAAAAA;
	border-radius: 5px;
}
.activity-base-info{
	padding: 20px;
}
.activity-list{
	margin: 5px;
	padding: 5px;
}
.activity-list li{
	margin-top: 15px;
}
.activity-name,.activity-addr,.activity-time-title,.activity-num{
	height: 100%;
	padding-top: 10px;
}

.animate{
  padding: 0;
  margin: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}
.blank10{
	height: 1px;
	background-color: #999;
	margin-top: 5px;
	margin-bottom: 20px;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.creatorInfo{
	margin: 10px 20px;
}
.createActivityPanel{
	height: 600px;
	padding: 30px 50px; 
	background-color: #e7e7e7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
.float-right{
  float: right;
}
.follow-list li{
	margin-top: 15px;
}
.form-signin {
  color: rgb(241, 132, 53);
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
  padding-left: 20px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
}
.friend{
	height: 45px;
	padding-left: 0;
	padding-right: 20px;
	background-color: #AAAAAA;
	border-radius: 5px;
}
.friend-grade{
	height: 100%;
	margin-bottom: auto;
	margin-top: auto;
	padding-top:12px;
}
.friend-img{
	height: 38px;
	width: 46px;
	margin: 4px 8px;
	padding-left: 5px;
	padding-right: 5px;
}
.friend-img img{
	height: 100%;
	max-width: 100% !important;
}
.friend-list{
	padding-left: 10px;
	padding-right: 5px;
}
.friend-list li{
	margin-top: 15px;
}
.friend-name{
	height: 100%;
	margin-bottom: auto;
	margin-top: auto;
	padding-top:6px;
	padding-left: 5px;
}
.friend .option{
	height: 100%;
	margin-bottom: auto;
	margin-top: auto;
	padding-top:10px;
}
.header-show{
	background: -webkit-linear-gradient(#FF8800, #EE5500); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(	#FF8800, #EE5500); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#FF8800, #EE5500); /* Firefox 3.6 - 15 */
	background: linear-gradient(#FF8800, #EE5500); /* 标准的语法 */
}
.homepage{
	padding-top: 200px;
	max-width: 800px;
	margin-left:auto;
	margin-right:auto;
}
.homepage h1{
	
	color: #ffffff;
}
.homepage label{
	height: 40px;
	width: 100px;
	border-radius: 8px;
	background-color: #F85A16;
}
.infoEdit{
	max-width:500px;
	margin: 20px auto;
}
.info-page-body{
	max-width: 900px;
	margin: 50px auto;
}
.info-page-body .row{
	margin: 20px auto;
}

.list-panel{
	min-height: 600px;
	
}
.list-panel .friend-list-panel{
	height: 600px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #e7e7e7;
	
	
}
.list-panel .activity-list-panel{
	min-width: 510px;
	height: 690px;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: #e7e7e7;
	
}

.login-panel{
	padding-top: 80px;
}

.match-nav-list{
	max-width: 220px;
	margin: 30px auto;
	padding-left: 10px;
}
.match-nav-list dropdown{
   display: inline-block;
   margin-top: 20px; 
   margin-left: 0;
   margin-right: 0;
}
.match-nav-list dropdown ul li{
  display: block;
  width: 200px;
  height: 50px;
  background: #ECF0F1;
  padding: 0;
  margin-left: 0px;
  margin-right: auto;
}
.match-nav-list dropdown ul li div{
  width: 200px;
  height: 50px;
  padding: 15px 55px;
}
.match-nav-list label{
  display: block;
  width: 200px;
  background: #ECF0F1;
  padding: 15px 25px 15px 15px;
  margin-left: 0px;
  margin-right: auto;
}

.match-nav-list label:hover, .match-nav-list dropdown ul li:hover{
  background: #1ABC9C;
  color: white;
  cursor: pointer;
}
.match-nav-list label{
  color: #1ABC9C;
  
  border-radius: 5px 5px 0 0; 
  position: relative;
  z-index: 2;
}
.match-nav-list dropdown input{
  display: none;
}
.match-nav-list dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
.match-nav-list dropdown input:checked + label{
  background: #1ABC9C;
  color: white;
}

.match-nav-list dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}
.match-menu{
	padding:0;
}
.member{
	max-width: 800px;
	margin: 10px auto;
	padding: 5px 20px;
}
.member .creator{
	padding: 5px 5px 5px 45px;
}
.member .follower{
	padding: 5px 5px 5px 20px;
}
.navbar-brand span{
	font-size: 25px;
	font-weight: bold;
	font-style: oblique;
	color: #333;	
}

.tc{
	text-align: center;
}
.user-header{
	width: 240px;
	padding-top: 20px;
	margin-left:auto; 
	margin-right:auto;
}
.user-header .user-header-img{
	width: 100%;
	
}
.user-header .user-header-img img{
	page-break-inside: avoid;
	max-width: 100% !important;
	margin-left:auto; 
	margin-right:auto;
	border-radius: 6px;
	min-height: 100px;
	max-height: 160px;
}

/*.weak_sport{*/
	/*padding-left: 30px;*/
/*}*/

/*$colors: #E74C3C, #0072B5, #2C3E50;*/

/*@for $i from 1 through length($colors) {*/
  /*dropdown ul li:nth-child(#{$i}) {*/
    /*border-left: 4px solid nth($colors, $i);*/
    /*.fa{*/
      /*color: nth($colors, $i);*/
    /*}*/
    /*&:hover {*/
        /*background: nth($colors, $i);*/
        /*color: white;*/
      /*.fa{*/
        /*color: white; */
      /*}*/
    /*}*/
  /*}*/
/*}*/